{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Registered students
{% endblock %}

{% block content %}
<div class="h2 text-center col-md-12 mb-5 ">
    <h2>Registered Students</h2>
</div>
<div class="container col-md-10 bg-light p-5">
  <table class="table table-striped table-transparent">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">City</th>
        <th scope="col">State</th>
      <th scope="col">Pincode</th>
      <th scope="col">Delete</th>
      <th scope="col">Update</th>

    </tr>
  </thead>
    {% for detail in details %}
  <tbody>
    <tr>
      <td>{{detail.name}}</td>
      <td>{{detail.address}}</td>
      <td>{{detail.city}}</td>
        <td>{{detail.state}}</td>
        <td>{{detail.pincode}}</td>
      <th scope="col"><form action="{% url 'delete' detail.id %}" method="post"><button class="btn btn-danger">Delete</button>{% csrf_token %}</form></th>
      <th scope="col"><a href="{% url 'update' detail.id %}"><button class="btn btn-secondary">update</button></a></th>
    </tr>
  </tbody>
    {% endfor %}
    {% csrf_token %}
</table>
</div>



{% endblock %}